<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for logs in log %}
        <p>
            <table border="3" >
                <tr>
                    <td>{{ logs.status }}</td> <td>  name : {{ logs.name }}</td> <td> time : {{ logs.time }}</td>
                </tr>
            </table>
        </p>
        
    {% endfor %}
    <script>
        // Refresh the page every 5 seconds (adjust the time interval as needed)
        setTimeout(function () {
            location.reload();
        }, 5000);
    </script>
</body>
</html>