<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <p>
            <input type="file" name="image">
        </p>
        <p>
            <lable>name picture: </lable>
            <input type="text" name="name">
        </p>
        <p>
            <input type="submit" value="send">
        </p>
            
    </form>
</body>
</html>